<table border="0" cellpadding="0" cellspacing="0" style="width:100%;font-size:1em;margin:0 auto;padding: 10px;border: 2em solid rgb(128, 124, 124);font-family:arial;">
  <tr>
    <td>
      <h3>DMS COMPLIANCE</h3>
    </td>
    <td>
      <img width="80" src="cid:dbc" style="float:right;">
    </td>
  </tr>
  <tr>
    <td colspan="2" style="font-weight:bold;text-align:center;padding-top:25px;border-top:5px solid rgb(128, 124, 124);"></td>
  </tr>
  <tr>
    <td colspan="2" style="font-size:1.2em"><b>Kepada <%= requesterName %></b></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" style="width:100%; text-align:left">
      <table style="width:100%;font-size:1em;margin:0 auto;padding: 10px;">
        <tr>
          <td style="width:30%">Nomor Dokumen</td>
          <td style="width:5%">:</td>
          <td><b><%= docNumber %></b></td>
        </tr>
        <tr>
          <td>Judul Perjanjian</td>
          <td>:</td>
          <td><%= title %></td>
        </tr>
        <tr>
          <td>Jenis Perjanjian</td>
          <td>:</td>
          <td><%= type %></td>
        </tr>
      </table>
      <br>
      Pengajuan Nomor Perjanjian telah disetujui Corporate Legal.
      <br><br>
      Harap segera mengunggah scan copy pdf dokumen yang sudah ditandatangani ke dalam sistem DMS Compliance.
    </td>
  </tr>
</table>
